@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
}

.container {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  margin: 2rem 1.8rem;
}

/* ============================ */
/* IMAGE */
/* ============================ */
.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

/* ============================ */
/* CARD INFO AND TEXT */
/* ============================ */
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.6rem;
  gap: 1.8rem;
}

.card-info h1 {
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1.8;
  color: hsl(223, 47%, 23%);
}

.card-info p {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.card-price {
  background-color: hsl(225, 100%, 98%);
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.card-price .price {
  margin-right: 5.5rem;
}

.card-price .price p:first-child {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 1.4rem;
}

.card-price a {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 1.4rem;
  padding-right: 0.8rem;
}

.card-price a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

/* ============================ */
/* BUTTON AND LINK */
/* ============================ */
.card-info button {
  width: 100%;
  padding: 1rem;
  color: white;
  background-color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-family: inherit;
  border-radius: 1rem;
  border: none;
  outline: none;
  box-shadow: 0 20px 20px hsl(225, 100%, 94%);
  transition: ease-in-out 0.3s;
}

.card-info button:hover {
  background: #766cf1;
}

.card-info .cancel-order {
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
  margin-bottom: 2rem;
  transition: ease-in-out 0.3s;
}

.card-info .cancel-order:hover {
  color: hsl(223, 47%, 23%);
}

